:root {
  --accent: 124, 58, 237;
  --color: rgb(146, 66, 232);
  --accent-gradient: linear-gradient(45deg, var(--color), #62beda 30%, white 60%);
}
html {
  font-family: system-ui, sans-serif;
  background-color: #f2f2fd;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
svg{
  margin: 2px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
svg:hover{
  background-color: rgb(231, 231, 231);
}
h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}
.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}
.brand-new{
  border: 2px rgb(255, 104, 104) solid;
}